/* Fonts */
/* .inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
    
.roboto-condensed-<uniquifier> {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

/* General */
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

h1 {
    font-size: 60px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1em;
    margin-bottom: 20px;
}

h2 {
    font-family: 40px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1em;
    margin-bottom: 20px;
}

h4 {
    font-size: 22px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: #FFFFFF;
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 1.5em;
    margin-bottom: 30px;
}

body {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    line-height: 1.3em;
}

button {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-transform: capitalize;
    letter-spacing: 1px;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
}

/* Custom Classes */
/* .nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
} */

#banner {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/img/villa-tropicana-banner.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 25px;
}

.logo {
    width: 70px;
    align-self: center;
}

.burger {
    width: 40px;
    align-self: center;
}

.drag-em {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff0d;
    backdrop-filter: blur(3px);
    border: 0.5px solid #FFFFFF;
    border-radius: 30px;
    align-items: center;
    padding: 5px;
    margin-bottom: 25px;
}

.arrow-right {
    width: 25px;
    align-self: center;
    margin: 0 15px;
}

.arrow-right:hover {
    margin-left: 25px;
    transition-duration: 400ms;
}

.get-started {
    color: #FFFFFF;
    background-color: #389C9C;
}

.get-started:hover {
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
    transition-duration: 400ms;
}

#about {
    /* height: 600px; */
    width: 100%;
    display: flex;
    background-image: url('/assets/img/starfish.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 25px;
}

#about::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1; 
}

#about h2,
#about p,
#about a {
    color: #FFFFFF;
    z-index: 2;
}

.read-more {
    color: #FFFFFF;
    background-color: #003E55;
}

.read-more:hover {
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
    transition-duration: 400ms;
}

.row {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.col img {
    height: 100%;
    width: auto;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.center-text {
    text-align: center;
}

.italic {
    font-style: italic;
}

/* .intro-img {
    background-image: url('/assets/img/villa-tropicana.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
} */

.mb-25 {
    margin-bottom: 25px;
}

#accommodations {
    background-color: #001c26;
    padding: 60px 25px;
}

#accommodations h2,
#accommodations p {
    color: #FFFFFF;
}

.glide__slides img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 5px;
}

.glide__arrows {
    display: flex;
    justify-content: center;
}

.glide__arrow {
    color: #FFFFFF;
    background-color: #389C9C;
    margin: 10px 5px 0 5px;
}

.glide__arrow:hover {
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
    transition-duration: 400ms;
}

#gallery {
    padding: 60px 25px;
}

.ze-lightbox {
    display: flex;
}

.ze-lightbox img {
    width: 98%;
    height: 180px;
    object-fit: cover;
}

.ze-lightbox img:hover {
    opacity: 0.7;
    transition-duration: 400ms;
}

.take-tour {
    color: #FFFFFF;
    background-color: #003E55;
    margin-top: 20px;
}

.take-tour:hover {
    color: #FFFFFF;
    background-color: #000000;
    cursor: pointer;
    transition-duration: 400ms;
}

#footer {
    display: flex;
    background-color: #001c26;
}

.footer {
    padding: 60px 25px;
}

#footer h2,
#footer p {
    color: #FFFFFF;
}

.socials img {
    margin: 0 5px;
}

.socials img:hover {
    scale: 1.1;
    cursor: pointer;
    transform: 400ms;
}

#map {
    height: 400px;
}

/* Responsive */
@media only screen and (min-width: 757px) {
    #banner {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .glide__slides img {
        height: 450px;
        object-fit: cover;
        margin-bottom: 5px;
    }
    .ze-lightbox img {
        width: 99%;
        height: 300px;
        object-fit: cover;
    }
    #about,
    #accommodations,
    #gallery {
        padding: 60px 240px;
    }
}